<div class="row cate">
    <div class="col-md-4">Category</div><br>
    <div class="col-md-4"><input type="radio" [(ngModel)] = "category" value="doctor">Doctor<br></div>
    <div class="col-md-4"><input type="radio" [(ngModel)] = "category" value="patient">Patient<br></div>
  </div>
  <div *ngIf = "category === 'doctor'" class="a">
    <div class="row">
    <div class="col-md-3">Location</div>
    <div class="col-md-9"><input type="text" name="location" required><br></div>
    </div>
    <div class="row">
    <div class="col-md-3 t">Name</div>
    <div class="col-md-9"><input type="text" name="name"required><br></div>
    </div>
  
    <div class="row">
        <div class="col-md-3 t">Gender</div>
          <div class="col-md-9">
           <select name="gender" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
        </select><br>
        </div>
    </div>
    <div class="row">
      <div class="col-md-3 t">Phone number</div>
      <div class="col-md-9"><input type="text" name="contact" maxlength="10" required><br></div>
    </div>
    <div class="row">
      <div class="col-md-3 t">Email-id</div>
      <div class="col-md-9"><input type="email" name="email"required><br></div>
    </div>
  </div>
  <div *ngIf = "category === 'patient'"class="a">
  
    <div class="row">
    <div class="col-md-3 t">Name</div>
    <div class="col-md-9"><input type="text" name="name"required><br></div>
    </div>
  
    <div class="row">
        <div class="col-md-3 t">Gender</div>
          <div class="col-md-9">
           <select name="gender"required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
        </select><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 t">Height</div>
        <div class="col-md-9"><input type="text" name="height" required><br></div>
      </div>
      <div class="row">
          <div class="col-md-3 t">Weight</div>
      <div class="col-md-9">
        <select name="weight" required>
          <option value="15">10-20</option>
          <option value="25">20-30</option>
          <option value="35">30-40</option>
          <option value="45">40-50</option>
          <option value="55">50-60</option>
          <option value="65">60-70</option>
          <option value="75">70-80</option>
            <option value="85">80-90</option>
          <option value="95">90-100</option>
          <option value="105">100-110</option>
          <option value="115">110-120</option>
          <option value="0">Other</option>
           </select><br>
       </div>
    </div>
     <div class="row">
      <div class="col-md-3 t">Blood grp</div>
      <div class="col-md-9"><input type="text" name="bloodgroup" required><br></div>
    </div>
    <div class="row">
      <div class="col-md-3 t">Phone number</div>
      <div class="col-md-9"><input type="text" name="contact" maxlength="10" required><br></div>
    </div>
    <div class="row">
      <div class="col-md-3 t">Email-id</div>
      <div class="col-md-9"><input type="email" name="email" required><br></div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">SUBMIT</button>