<div *ngIf = "doctor">
	<h1>{{doctor.name}}</h1>
	<p>{{doctor.specialization}}</p>
</div>
<div class="container">

	<div class="form-group">
		<div class="input-group input-group-alternative">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
			</div>
			<input class="form-control" [(ngModel)] = "date" placeholder="Select date" type="date">
			<label for="inputState">Time</label>
			<select class="form-control" [(ngModel)] = "time">
				<option *ngFor ="let timing of timings">{{timing}}</option>
			</select>
		</div>
	</div>
	<button (click) = "bookAppointment()">Confirm</button>
</div>
