.card
{
box-shadow:5px 10px;
}
.card-header
{
	background-color: #b3ecff;
}
table
{
	border-left: 1px solid black;
	box-shadow: 3px 7px 1px 1px;
	border-radius: 5px;
}
td,tr,th
{
	border-collapse: collapse;
}
.h
{
	top: 50%;
    left: 50%;
	
}