<h1 style="text-align: center;">CART</h1>
<div class="container">
	
<div class="row">
<div class="col-md-9">
  
    <!-- <h1>{{car.medicines}}</h1><span>{{car.quantity}}</span>
    <h2> {{car.price}} </h2> -->
    
 
 
  <table class="table table-hover">
    <thead>
      <tr>
        <th>NAME</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
   
    <tbody>
      <tr *ngFor = "let car of cart">
        <td>{{car.medicines}}</td>
        <td>{{car.quantity}}</td>
        <td>{{car.price}}</td>
        <td><button (click) = "deleteMedicine(car._id, car.price)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
   
  </table>
</div>
<div class="col-md-3">
<div class="card">
	<div class="card-header"><h4 class="card-title">Total <i style="font-size:24px" class="fa">&#xf07a;</i></h4></div>
  <div class="card-body">{{total}}
  </div>
  <div class="card-footer">
    <button class="btn btn-success" (click) = "onBuy()">BUY</button>

  </div>
</div>
</div>

</div>
<h2 routerLink="/orders">Your Previous Orders</h2>
</div>