



<!-- <div *ngFor = "let order of orders" routerLink = "/">

  <h1> {{order._id}} </h1>

  <h1> {{order.createdAt.toDate() | date: 'yyyy/MM/dd h:mm:ss a'}} </h1>
  <button (click) = "delete(order._id,order.userid)">Cancel</button>
  <button [routerLink]="['/orderdetail', order._id]">View</button>
</div> -->
<div class="container-fluid">
  	<div class="row">
  		<div class="card col-md-3 mx-5" *ngFor = "let order of orders">
			<div class="card-header"><h4 class="card-title">Id:{{order._id}}</h4></div>
  			<div class="card-body">
   			 <h5> {{order.createdAt.toDate() | date: 'yyyy/MM/dd h:mm:ss a'}} </h5>
 
  			</div>
  			<div class="card-footer">
           <button [routerLink]="['/orderdetail', order._id]" class="btn btn-success">View</button>
           <button (click) = "delete(order._id,order.userid)" class="btn btn-danger">Cancel</button>
   			</div>
  		</div>
	</div>
