<div class="container">
  <div class="row mt-5">
    <div class="card col-md-4">
      <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
      <div class="card-body">
        <h5 class="card-title">Book an Appointment</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink = "/appointment" class="btn btn-primary">Book an Appointment</a>
      </div>
    </div>
  
    <div class="card col-md-4 offset-md-2">
      <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
      <div class="card-body">
        <h5 class="card-title">Buy Medicines</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink = "/buymedicines" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>

  <div class="row mt-5">
      <div class="card col-md-4">
        <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
        <div class="card-body">
          <h5 class="card-title">View Your Prescriptions</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink = "/prescriptions" class="btn btn-primary">View</a>
        </div>
      </div>
    
      <div class="card col-md-4 offset-md-2">
        <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
        <div class="card-body">
          <h5 class="card-title">View Cart</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink = "/cart" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
</div>

