<div class="container">
    <div class="row mt-5">
        <div class="card col-md-3">
            <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
            <div class="card-body">
              <h5 class="card-title">E Doctor</h5>
              <p class="card-text">Chat with our AI robot and get consultation.</p>
              <a routerLink = "/chat" class="btn btn-primary">Chat</a>
            </div>
          </div>
      <div class="card col-md-3 offset-md-1">
        <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
        <div class="card-body">
          <h5 class="card-title">Book an Appointment</h5>
          <p class="card-text">Book an appointment to various doctors</p>
          <a routerLink = "/appointment" class="btn btn-primary">Book an Appointment</a>
        </div>
      </div>
      <div class="card col-md-3 offset-md-1">
          <img class="card-img-top" style="height:200px;" src="../../assets/img/person.png" alt="Book Appointment">
          <div class="card-body">
            <h5 class="card-title">View Your Prescriptions</h5>
            <p class="card-text">View your previous prescriptions</p>
            <a routerLink = "/prescriptions" class="btn btn-primary">View</a>
          </div>
        </div>
    </div>
  
  </div>