<div class="container">
    <div class="med">
    <div *ngIf = "medical">
        <h1 class="font">{{medical.name}}</h1>
        <h3 class="font">--{{medical.location}}</h3>
    </div>
    </div>
      <div class="form-group btns">
        <h3>Please select the medicine.</h3>
        <div class="input-group input-group-alternative">
          <h4><label>Medicine</label></h4>
          <select class="form-control" [(ngModel)] = "selectedMedicine" >
            <option *ngFor ="let medicine of medical.medicines">{{medicine.name}}</option>
          </select>
          </div><br>
        <div class="row">
          <div class="col-md-12">
          <h3>
            Please select the Quantity.
          </h3>
          <input class="form-control" type="number" min="0" [(ngModel)] = "quantity">
          </div>
          
        </div><br>
        <button class="btn btn-primary" (click) = "addtoCart()" style="margin-left: 40%; margin-bottom: 1%">Add to Cart</button>
      
      </div>